* {
	margin: 0;
	padding: 0;
}


.name {
background-image: url("https://cdn2.datascience.berkeley.edu/content/f0d7d684b0824d97b9ff663b21cd9752/hero-light.jpg");
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}


h1 {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 60px;
  color: gold;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 150px;
}

h2, h3 {
  font-family: 'Playfair Display SC', sans-serif;
  font-size:20px;
  color: gold;
 
  text-align: center;
  margin-top: -10px;
}
