body {
  background: LightCyan;
}

.name {
  background-image: url("https://cdn2.datascience.berkeley.edu/content/f0d7d684b0824d97b9ff663b21cd9752/hero-light.jpg");
  height: 500px;
  background-position:  center ;
}

h1 {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 60px;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 150px;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: 'Playfair Display SC', sans-serif;
  font-size:30px;
  color: gold;
 
  text-align: center;
  margin-top: -10px;
}
